/* ----------- VARIABLES    */
	@color_primario:#71c447;
	@color_secundario: #99d57b;
	@color_terciario: #f6f6f6;
	@color_cuatro: #fff;
	@color_cinco: #000;	

/* ----------- FUENTES      */ 
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.lato{
		font-family: 'Lato', sans-serif;
	}
	body{
		font-size: 18px;
	}

	table{
		background-color:#fff!important;
	}
/* ----------- COLORES      */
	a{cursor:pointer;}
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: @color_primario;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: @color_secundario;
	}
	.color-terciario{
		color: @color_terciario;
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,	
	.color-blanco,
	.color-blanco:hover{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background: @color_primario;
	}
	.ajax-file-upload{
		background: @color_primario!important;
	}
	.bg-secondary{
		background: @color_secundario;
	}
	
	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #ff5d55;
	}
	.bg-success{
		background: #9CDAB7;
	}
	.bg-blue{
		background: #32b4cc;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}
	.grayscale{
		filter: grayscale(100%);
	}
	.grayscale:hover{
		filter: grayscale(0%);
		transition: .5s;
	}

/* ----------- NAVEGACIÓN   */

	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: black;
		font-family: 'Lato', sans-serif;
		font-size: 1em;
		padding: 0 20px;
		min-height: 50px;
		text-transform: capitalize;
	}
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px @color_primario;
		color: black;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}
	.uk-nav-primary>li{
		margin:26px;
	}
	.uk-nav-primary>li>a{
		color: #fff!important;
	    background: transparent;
	    font-size: 30px!important;
	    border:solid 1px transparent;
	    border-radius: 100px 0;
	}
	.uk-nav-primary>li>a:hover{
		color: #000!important;
	}

	/* Off canvas */
	.uk-offcanvas-bar{
		background: black;
	}
	.uk-offcanvas-bar a{
		border:solid 1px #666;
		color: #CCC;
		background: #222;
		font-size: 1em!important;
		text-align: left;
		padding-left: 10px!important;
	}

	.uk-offcanvas-bar a:hover{
		color:#DDD;
		background: #333;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top:10px;
		font-size:26px;
	}

	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
	}
	.uk-offcanvas-overlay::before{
		background: rgba(0,0,0,.5);
	}

/* ----------- TEMPLATE     */
*:focus{outline: none;}
::focus {outline: none;}

	.subcategoria-activa{
		background:#71c447!important;
		color:#fff!important;
	}
	p{
		margin:0;
		padding:0;
	}
	.input-personal,
	.input-personal:focus{
		background:@color_terciario;
		color:#999;
	    border: solid transparent;
	    border-bottom: solid 2px #000;
	    margin-top:15px;
	    min-height:34px;
	    .text-9; 
	    &::placeholder{
		}
	}

	.bg-claro{background-color:#f6f6f6}
	.t-negro{color:#000}
	.t-blanco{color:#fff;}
	.t-verde{color:#71c447;}

	.t-negro p,
	.t-negro p span{
			padding:0;
			margin: 0;
			font-size:14px!important;
			text-align: justify;
		}

	.full-slider{
		margin:0;
		padding:0;
		height:100vh;
		width:100vw;
	}

	a{cursor:pointer;}

	.titulo-g{
		font-size: 60px;
	    font-weight: 100;
	    letter-spacing: 20px;
	}
	
	.seccion{
		height:100vh;
		margin:auto;
		text-align:center;
		border:solid 6px pink;
	}

	header{
		background-color: rgba(255, 255, 255, .9);
		position:fixed;
		height:76px;
		z-index:99;
		a, a:hover, 
		.uk-navbar-dropdown-nav > li > a,
		.color-general{
			color:@color_secundario;
		}

		.fa-bars:before {
			margin-top:10px!important;
		    font-size: 30px;
		}

		placeholder::-webkit-input-placeholder { /* Edge */
		  color: @color_primario;
		  height:50px;
		  .text-7;
		}

		placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: @color_primario;
		  height:50px;
		  .text-7;
		}

		placeholder::placeholder {
		  color: @color_primario;
		  height:50px;
		  .text-7;
		}
		.search{
			line-height:0!important;
			margin:0!important;
			padding:12px!important;
		}
		.search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  line-height:0!important;
		  margin:0!important;
		  padding:12px!important;
		}
		.search::-moz-placeholder { /* Firefox 19+ */
		  line-height:0!important;
		  margin:0!important;
		  padding:12px!important;
		}
		.search:-ms-input-placeholder { /* IE 10+ */
		  line-height:0!important;
		  margin:0!important;
		  padding:12px!important;
		}
		.search:-moz-placeholder { /* Firefox 18- */
		  line-height:0!important;
		  margin:0!important;
		  padding:12px!important;
		}
		.uk-search-default .uk-search-input{
			color: @color_primario;
			border: solid transparent;
		}
		.uk-icon{
			color: @color_primario;
		}
		.precio{
		    background-color: #71c447;
		    padding: 0;
		    border-radius: 100%;
		    height: 12px;
		    padding: 2px;
		    position: absolute;
		    top: 12px;
		    min-width: 12px;
		    margin-left: 10px!important;
		    span{font-size:8px;font-weight:bold;}
		}
	}
	
	.height-logo{
		height: 130px;
    	margin-bottom: 40px!important;
	}
	
	.fp-tableCell{
		margin: 0;
		padding:0;
		width:100vw;
	}
	
	.frase_nosotros{
		min-height:100px;
		height:100px;
		overflow:hidden;
	}
	#nosotros img{
		margin-top:-60px;
	}
	.nosotros{
		.hr-title{
			height:1px;
			border:solid transparent 1px;
			background-color: #000;
			padding: 0;
			margin:5px 0;width:200px
		}
		.hr-bottom{ 
			height:1px;border:solid transparent 1px;
			background-color: #000;
			margin:6px 0;
			padding:0;
			width:200px;
			float: right;
		}

	}

	.slider-height2{
		height: calc(100vh / 2);
		.pad-height{
			padding:84px 20px 60px 20px;
			height: calc(50vh - 148px);
			.img-prod{
				width:85%;min-height: 150px;
			}
		}
	}
	/*Para los productos*/
		/*Para los productos de home*/
		.fondo-product{
			-webkit-box-shadow: -12px -12px 0px 0px rgba(91,121,14,1);
			-moz-box-shadow: -12px -12px 0px 0px rgba(91,121,14,1);
			box-shadow: -12px -12px 0px 0px rgba(91,121,14,1);
			background-color:#fff;
			.img{
				width:180px; height:180px;
			}
			.hr-prod{
				height:0;border:solid transparent;
				border-bottom:solid 3px #4d6b05;
				margin:5px 0;width:40px
			}
			.prod-detalle{
				color: #fff;

			}

		}
		.name-prod{
			color: #fff;
			font-size:20px;
			font-weight:bold;
			padding-top:20px;
			line-height:20px;
		}
		.hr-detalle{
			height:1px;
			border:solid transparent 1px;
			background-color:#fff;
			padding:0;
			margin:5px 0;
			width:120px
		}
		.descripcion{
			height:100px;overflow: hidden;
		}
		.hr-detalle-fin{
			font-size:1px;
			height:0;
			float: right;
			height: 1px;
			border:solid transparent 1px;
			background-color: #fff;
			padding: 0;
			margin:5px 0;
			width:120px
		}
		/*Para los productos de home*/
		.parrafos{
			color:#fff;height: 90px;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis!important;
			p{
				height: 90px;
				overflow: hidden;
				text-align: justify;
		    	font-size: 14px;
			}
			&:after{
				float:right;
				padding:0;
				content:"...";
			}
		}
		.precio{
			padding:5px!important; color:#fff
		}
		.cont-btn{
			

			.text-cant{
				color:#fff;background-color:@color_primario;
				-webkit-box-shadow: -1px -1px 2px 0px rgba(110,190,71,.6);
				-moz-box-shadow: -1px -1px 2px 0px rgba(110,190,71,.6);
				box-shadow: -1px -1px 2px 0px rgba(110,190,71,.6);
				margin:0; padding:0;
			}
			.numero{
				color:#fff;
				background-color:@color_secundario;
				-webkit-box-shadow: 0px -1px 2px 0px rgba(184,182,184,.6);
				-moz-box-shadow: 0px -1px 2px 0px rgba(184,182,184,.6);
				box-shadow: 0px -1px 2px 0px rgba(184,182,184,.6);
				margin:0; padding:0;
				input{
					margin: 0;
				    padding: 0;
				    width: 100%;
				    height: 100%;
				    background: transparent;
				    border:solid transparent;
				    color:#fff;
				    font-size:12px;
				}
				input:focus{
					border: solid transparent;
					outline: none;
				}
				input:placeholder{
					color:#fff;
					height: 50px;
				}
			}
			.btn-cont{
				padding:5px;
				.btn-comprar{
					-webkit-box-shadow: 1px -1px 3px 0px rgba(184,182,184,.6);
					-moz-box-shadow: 1px -1px 3px 0px rgba(184,182,184,.6);
					box-shadow: 1px -1px 3px 0px rgba(184,182,184,.6);
				}
			}
		}

		.cont-prod{
			background-color:#fff;
			height: auto; 
			-webkit-box-shadow: -12px -12px 0px 0px rgba(110,190,71,1);
			-moz-box-shadow: -12px -12px 0px 0px rgba(110,190,71,1);
			box-shadow: -12px -12px 0px 0px rgba(110,190,71,1);
			.pad-img{
				height:86%; padding:8px;
				.img{
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center;
					height:100%;
				}
				.img-foto{
					.img;
					height:120px;
					width: 120px;
				}
			}
			.hr-img{
				height:1px;
				border:solid transparent 1px;
				background-color: #4d6b05;
				padding: 0;
				margin:10px 0 0 0;
				max-width:40px;
				width:100%;
			}
			.opinion{
				height:90px;
				overflow:scroll;
			}
		}
		.sombra{
			-webkit-box-shadow: -3px -3px 15px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: -3px -3px 15px 0px rgba(0,0,0,0.75);
			box-shadow: -3px -3px 15px 0px rgba(0,0,0,0.75);
		}
		
		.product{
			/*height: 78%;
	    	margin-top: 8%!important;*/
			.bg-verde-claro{
				/*background-color: rgba(163, 202, 63, .5);*/
				height:50vh;
				.uk-padding-large {
					padding-top:112px;
				}
				.texto-prod{
					.text-xxl{
						font-weight:100px!important;
					}
					.hr-blanca{
						height:0;
						border:solid transparent;
						border-bottom:solid 3px #fff;
						margin:10px 0;
						width:100px
					}
					.hr-texto{
						.hr-blanca;
						float: right;
					}
					.parrafos{
						color:#fff;height:90px;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
						text-overflow: ellipsis!important;
						p{
							height:90px;
							overflow: hidden;
							text-align: justify;
					    	font-size: 14px;
						}
						&:after{
							float:right;
							padding:0;
							content:"...";
						}
					}
					.precio{
						padding:5px; color:#fff
					}
					.cont-btn{
						padding:14px;
						.text-cant{
							color:#fff;background-color:#567508;
							-webkit-box-shadow: -1px -1px 2px 0px rgba(184,182,184,.6);
							-moz-box-shadow: -1px -1px 2px 0px rgba(184,182,184,.6);
							box-shadow: -1px -1px 2px 0px rgba(184,182,184,.6);
							margin:0; padding:0;
						}
						.numero{
							color:#fff;background-color:@color_secundario;
							-webkit-box-shadow: 0px -1px 2px 0px rgba(184,182,184,.6);
							-moz-box-shadow: 0px -1px 2px 0px rgba(184,182,184,.6);
							box-shadow: 0px -1px 2px 0px rgba(184,182,184,.6);
							margin:0; padding:0;
						}
						.btn-cont{
							padding:5px;
							.btn-comprar{
								-webkit-box-shadow: 1px -1px 3px 0px rgba(184,182,184,.6);
								-moz-box-shadow: 1px -1px 3px 0px rgba(184,182,184,.6);
								box-shadow: 1px -1px 3px 0px rgba(184,182,184,.6);
							}
						}
					}
				}
			}
			.bg-verde-oscuro{
				.bg-verde-claro;
				/*background-color: rgba(78, 104, 13, .5);*/
				height:50vh;
			}
		}
		.prod-height{
			height: 400px;
	    	.pad-img{
	    		height:80%; padding:10px;
	    		.img{
	    			background-position:bottom!important;
	    		}
	    	}
		}

		.ht-prods{
			height:1px;border:solid transparent 2px;
			background-color: #4d6b05;
			padding: 0;
			margin:5px 0;
			width:40px
		}

		.opino-height{border: solid orange 4px;
			max-height:430px!important;
		}
	/*Para los productos en general*/
	footer{
		.footer{
			.padding-h-30;
			ul{
				height: 120px;
				.footer-li{text-decoration: none;
					list-style:none;
					text-align:left;
					width: 100%;
				}
			}
			.hr-footer{
				height:1px;
				border:solid transparent 1px;
				background-color:#000;
				padding: 0;
				margin:15px 0;width:100%
			}

		}
	}
	
	.cont-map{margin:0;
     	padding:0;
     	height:100vh;
     	width: 100%;
    }
	.social{
		padding:14px;
	}

	.height-50{
		height:50vh;
	}
	.height-100{
		height: 100vh;
	}
	.height-100-intro{
		height: 100vh!important;
	}
	.height-100-intro .div-intro{
		height: 100vh!important;
	}
	.mini-pad{
			/*padding-top:60px;*/
		}
	.floar-right{float:right;}

	/*slider horizontal movil */
	.slick-dots .slick-active{
		background-color:#567508!important;
	}
	.slick-dots{
		width:90%;
		margin:auto;
		margin-bottom: 40px;
		text-align: center;
		position: absolute;

	}
	.slick-dots li{
		display: inline-block;
		background-color: #999;
		margin:10px;
		width: 10px;
		height:10px;
		border-radius: 100%;
	}
	.slick-dots li button{
		display:none;
	}

/*  ---------- GENERALES    */
	.uk-pagination li{
		padding-left: 5px;
	}
	.uk-pagination a{
		padding: 2px 10px;
		border-radius: 100%;
		background: white;
		border: @color_primario 1px solid; 
		color: @color_primario;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: @color_primario;
		color: white;
		border: @color_primario 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: @color_primario!important;
	}
	.uk-lightbox .uk-slidenav{
		border-radius: 100px;
		color: white;
		background: @color_primario;
	}
	#cotizacion-fixed{
		top:0;
		padding-top: 34%!important;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: auto;
		position: fixed;
		right: 0;
		top:auto;
		height:auto!important;
	}
	#cotizacion-fixed img{
		/*box-shadow: 0 0 8px white;
		border-radius: 10px 0 0 10px;*/
	}
	a{
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-navbar-nav > li > a,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-150{
		margin-top: 150px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-20{
		margin-top: -20px;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-bottom-20{
		margin-bottom: 20px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	.margin-v-50{
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-30{
		padding-bottom: 30px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-top-menos-14{
		padding-top: -14px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-60{
		padding-top: 650px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-40{
		padding-bottom:40px;
		padding-top: 40px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-80{
		padding-bottom:80px;
		padding-top: 80px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-0{
		padding-right: 0px;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-40{
		padding:0;
		padding-left: 40px;
		padding-right:40px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-50{
		padding:50px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxxl{
		font-size: 3em;
	}
	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.z1{
		z-index: 1;
	}
	.z2{
		z-index: 2;
	}
	textarea{
		resize:none;
	}

	/* BOTONES */
	.uk-button{
		font-weight: 700;
		text-transform: none;
	}

	/* Danger */
	.uk-button-danger{
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active,
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: #a00;
		color: #fff;
	}

	/*  Blanco */
	.uk-button-white {
		background-color: transparent;
	    color: @color_primario;
	    padding-bottom:8px!important;
	    border-bottom: 2px solid @color_primario;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus,
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color:transparent;
	  color: #fff;
	}

	/* Personal */
	.uk-button-personal {
		background: @color_primario;
		color: white;
		border: solid 1px @color_cuatro;
		/*padding: 0 40px;*/
		-webkit-box-shadow: 0px 0px 1px 3px rgba(113,196,71,1);
		-moz-box-shadow: 0px 0px 1px 3px rgba(113,196,71,1);
		box-shadow: 0px 0px 1px 3px rgba(113,196,71,1);
	}
	/* Hover + Focus */
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		  background-color: white;
		  border: solid 1px @color_primario;
		  color: @color_primario;
	}

	/* Personal */
	.uk-button-negro {
		background: @color_cuatro;
		color: @color_cinco;
		border: solid 1px @color_cuatro;
		padding: 0 20px;
		-webkit-box-shadow: 0px 0px 1px 3px rgba(0,0,0,1);
		-moz-box-shadow: 0px 0px 1px 3px rgba(0,0,0,1);
		box-shadow: 0px 0px 1px 3px rgba(0,0,0,1);
	}
	/* Hover + Focus */
	.uk-button-negro:active,
	.uk-button-negro.uk-active,
	.uk-button-negro:hover,
	.uk-button-negro:focus {
		background-color: @color_primario;
		border: solid 1px @color_cuatro;
		color: @color_cuatro;
		-webkit-box-shadow: 0px 0px 1px 3px rgba(86,117,8,1);
		-moz-box-shadow: 0px 0px 1px 3px rgba(86,117,8,1);
		box-shadow: 0px 0px 1px 3px rgba(86,117,8,1);
	}


	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 10px;
	}

/* ----------- CHAT DE WHATSAPP  */
	#whatsapp-plugin{
		background: url(../img/design/whats-bg.jpg);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		width: 300px;
		position: fixed;
		bottom: 0;
		right: 30px;
		border-radius: 10px 10px 0 0;
	}
	#whats-show{
	    background-color: rgb(9, 94, 84);
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		color: white;
		position: fixed;
		bottom: 30px;
		right: 30px;
		padding: 10px 13px;
	}
	#whats-head{
	    background-color: rgb(9, 94, 84);
		border-radius: 10px 10px 0 0;
		line-height: 18px;
	}
	#whats-body-1{
		box-sizing: border-box;
		height: 120px;
	}
	#whats-body-2{
		background: url(../img/design/whats-globo.png) no-repeat center left;
		box-sizing: border-box;
		font-size: 13px;
		height: 100px;
		padding: 33px 0 0 35px;
		height: 120px;
	}
	#whats-footer{
		background: white;
		height: 60px;
	}
	#button-whats{
		background: rgb(79, 206, 93);
		color: white;
		border-radius: 50px;
	}
	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent; 
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent; 
	}

/* ----------- XML SITE MAP */
	urlset{
		background: url(../img/design/logo.png) no-repeat top center @color_primario;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}

/* ----------- MEDIA QUERY  */
	@media (min-width: 1800px){
		.fondo-product .img{
		    width: 200px;
		    height: 200px;
		}
		.prod-height{
			height:300px;
		}
		#nosotros img {
		    max-height: 90px;
		}
	}
	@media (max-width: 1700px){/*Tamaño xl*/
		.fondo-product .img{
		    width: 200px;
		    height: 200px;
		}
		.prod-height{
			height:300px;
		}
	}
	@media (max-width: 1600px){/*Tamaño xl*/
		.fondo-product .img{
		    width: 200px;
		    height: 200px;
		}
		.prod-height{
			height:300px;
		}

	}
	@media (max-width: 1440px){
		.product{
			/*eight:78%; 
			margin-top: 16%!important;*/
			.bg-verde-claro,
			.bg-verde-oscuro{
				.uk-padding-large {
				    padding:70px 40px 50px 60px;
				}
				.texto-prod{
					padding-left:15px;
				}
				.cont-prod {
				    margin-top: 45px!important;
				    background-color: #fff;
				    max-height: 280px;
				}
			}
		}
		
		header .uk-icon{
			padding-bottom:4px!important;
		}
		#nosotros{
			padding-bottom:0;
			img{
				max-height:70px;
			}
		}
		.padding-v-80{
			padding:40px 0;
		}
		.text-9 {
		    font-size: 12px;
		    line-height: 1.3;
		}
		.list{
			padding:16px;
		}
		.pad-compra{
			padding:0px;
			padding-top:16px;
		}
		.prod-height {
		    height: 300px;
		}
		.pad-detalle{
			padding:0 50px!important;
		}
		.prod-height-detalle{
			height:420px!important;
		}
		.cont-prod {
			.pad-img{
				padding:0;
			}
		}
		.hr-detalle{
			padding:0;
		}
		.cont-prod{
			.opinion-pad{
				padding:5px;
				.text-xl{
					font-size:16px;
				}
			}
			.opinion{
				font-size:12px;
				height: 110px;
			}
		} 
		.fondo-product .img{
			height:150px;
		}
		.opino-height{
			height: 250px!important;
		}
		.bg-verde-claro,
		.parrafos,
		.bg-verde-claro p{
			height:50px;
		}
		.padding-30{
			padding:0px 30px;
			padding-top:40px;
		}
		.input-personal, 
		.input-personal:focus{
			margin-top:4px
		}
		.titulo-g {
		    font-size: 40px;
		    padding-top:0;
		}
		.text-11{
			font-size:16px;
			line-height: 1.3;
		}
		.uk-button-white {
		    padding-bottom:4px!important;
		}
		.text-xl{
			font-size:14px;
			font-weight:bold;
		}
		.name-prod{
			font-size:18px;
		}
	}
	@media (max-width: 1290px){/*Tamaño l*/
		.fondo-product .img {
		    height: 150px;
		}
		.social{
			padding:5px;
		}
		.prod-height .pad-img{
		    height: 70%!important;
		}
	}
	@media (max-width: 1240px){/*Tamaño l*/
		.cont-prod .pad-img {
		    padding: 20px 0!important;
		}
		
		.prod-height {
		    height: 240px;
		}
		.cont-prod .pad-img {
		    padding: 0px 0!important;
		}
		.prod-height .pad-img {
		    height: 90%;
		}
		.product .bg-verde-claro .cont-prod, 
		.product .bg-verde-oscuro .cont-prod {
		    height: 240px;
		    .t-verde{
		    	margin-top:-45px;
		    }
		    .hr-img{
				margin-top:-10px;
			}
		}
		
		.product .bg-verde-claro .padding-30,
		.product .bg-verde-oscuro .padding-30{
			padding:0!important; 
			margin:0px!important;
		}
		.parrafos{
			height:70px;
		}	
		.parrafos p {
		    height:70px;
		}
		.fondo-product .img {
		    height: 120px;
		}
		.padding-v-80 {
		    padding-bottom: 10px;
		    padding-top: 80px;
		}
		.uk-button-negro {
			padding: 0 14px;
			font-size: 12px;
		}
		
		.titulo-g {
    		font-size: 40px;
    	}
    	.text-11 {
		    font-size:14px;
		}
		.text-9 {
		    font-size:13px;
		}
		.input-personal, 
		.input-personal:focus{
			font-size:12px;
			margin-top: 6px;
		}
		.social{
			padding: 4px;
		}
		input:-internal-autofill-selected {
    		background-color: rgb(232, 240, 254) !important;
    	}
    	#map,
    	.cont-map{
			height:100vh!important
		}
	}

	@media (max-width:1024px){ 
		.product .bg-verde-claro .padding-30, .product .bg-verde-oscuro .padding-30 {
		    padding: 2px!important;
		    margin: 0px!important;
		}
		
		.cont-map{
			height:100vh!important
		}
		.uk-button-personal{
			padding:0 20px!important;
		}
	}
	@media (max-width: 960px){ /*Tamaño m*/
		.slider-height1{
			height:auto!important;
			.pad-height{
				padding:84px 20px 60px 20px;
				height:auto!important;
				.img-prod{
					width:auto!important;
				}
			}
		}
		.frase_nosotros{
			min-height:auto;
			height:auto;
			overflow:none;
		}
		.registro{
			padding: 5px 1px;
			line-height: 0;
		}
		
		.uk-button-negro{
			font-size:12px;
			/*margin-bottom:50px!important;*/
		}
		.cero-middle{
		 	padding:5px 0!important;
		 	margin:0!important;
		 }
		.parrafos p{
			font-size:14px;
		}
		.titulo-g {
		    font-size: 20px;
		}
		header{
			height:50px;
		}
		header .fa-bars:before {
		    font-size: 28px;
		    padding:8px 10px;
		    border-radius: 100%;
        	background: #fff;
        }
        footer .footer ul {
		    height: auto;
		}
        .prod-height .pad-img .img{
        	background-size:contain;
        }
        .floar-right{float:none!important;margin:0}
        
        .product .bg-verde-claro,
        .product .bg-verde-obscuro{
        	height:auto;
        	padding:40px;
        }
        .height-100{
			height:auto!important;
		}
		.seccion-padding{
			padding:20px!important;
		}
		.mini-pad{
			/*padding:40px!important;*/
		}
		.t-negro p,
		.t-negro p span{
			padding:0;
			margin: 0;
			font-size:14px!important;
			text-align: justify;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}

		.product .bg-verde-claro .padding-30,
		.product .bg-verde-oscuro .padding-30{
			padding:0 60px!important; 
			margin:0px!important;
		}
		.uk-offcanvas-bar a {
		    border: solid 1px transparent;
		    color: #CCC;
		    background: transparent;
			}
		#mapa,
		.cont-map{
			height:auto!important
		}
		#map, .cont-map {
		    height: auto!important;
		    margin-top: 60px;
		}
		.width-mini-contacto{
			width:100vw!important;
			padding:0 35px;
			text-align: left;
		}
		.uk-offcanvas-bar a:hover {
		    color: #DDD;
		    background: transparent;
		}
		#nosotros img{
			margin: 40px 0!important;
		}
		.text-9 {
		    font-size: 14px;
		    line-height:auto;
		}
		.pad-detalle{
			padding:0!important;
		}
		.pad-movil-10{
			padding-left:20px
		}
		.full-slider {
		    height: 300px;
		}
	}
	@media (max-width: 820px){
		header{
			.text-9 {
			    font-size: 8px;
			}
		}
		.n-prod{
		    font-size: 14px;
		}
		.fondo-product .img {
		    height:220px;
		}
		.product .bg-verde-claro .padding-30, .product .bg-verde-oscuro .padding-30 {
		    padding:50px 60px!important;
		    margin: 0px!important;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}
		.uk-nav-primary > li > a{
			margin: 0;
			padding: 5px;
    		font-size:18px!important;
    		font-weight:bold;
		}
	}
	@media (max-width:750px){/* Tamaño s*/
		.movil-1-1{
			width:100vw;
		}
		.fondo-product .img {
		    height: 190px;
		}
		.product .bg-verde-claro .padding-30, 
		.product .bg-verde-oscuro .padding-30 {
		    padding: 40px!important;
		    margin: 0px!important;
		}
		.text-xxxl {
		    font-size: 30px;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}
		
		#mapa,
		.cont-map{
			height:auto!important
		}
		.pad-movil-10{
			padding-left:20px
		}
	}
	@media (max-width: 640px){/* Tamaño s*/
		.fondo-product .img {
		    height: 150px;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}
		.width-mini{
			width:100vw!important;
		}
		
		.width-medio{
			width:50vw!important;
		}
		.movil-pad-30{
			margin: 30px 0 60px 0!important;
		}
		.p-m-remove{
			margin:0;
			padding:0;
		}
		#mapa,
		.cont-map{
			height:auto!important
		}
		.pad-movil-10{
			padding-left:10px
		}
	}
	@media (max-width: 550px){
		.product .bg-verde-claro .padding-30, 
		.product .bg-verde-oscuro .padding-30 {
		    padding: 6px!important;
		    margin: 0px!important;
		}
		.fondo-product .img {
		    height: 130px;
		}
		.movil-mini-1{
			width:90vw;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}
		
		#mapa,
		.cont-map{
			height:auto!important
		}
	}
	@media (max-width: 450px){
		.mini{
			width:100vw;
		}
		.fondo-product .img {
		    height: 230px;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}
	}
	@media (max-width: 350px){
		
		.seccion{
			height:auto;
		}
		.height-50{
			height:auto;
		}
		.fondo-product .img {
		    height: 210px;
		}
		.height-100{
			height:auto!important;
		}
		.height-100-intro{
			height:auto!important;
		}
		.height-100-intro .div-intro{
			height:auto!important;
		}
	}
